body {
  margin: 0;
  line-height: normal;
}
.jggyewsm-400x400-1-icon {
  position: relative;
  border-radius: 255.06px;
  width: 108px;
  height: 108px;
  flex-shrink: 0;
  object-fit: cover;
}
.hi-there-this-is-sarp {
  position: relative;
  display: inline-block;
}
.for-a-company-called,
.im-designing-user-interfaces,
.synchron-a {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.for-a-company-called,
.synchron-a {
  top: 26.06px;
}
.synchron-a {
  text-decoration: underline;
  top: 25.88px;
  left: 185.79px;
  font-weight: 700;
  color: #cdcdcd;
  cursor: pointer;
}
.synchron-a:hover {
  color: #fff;
}
.frame-div3 {
  position: relative;
  width: 270.79px;
  height: 48.06px;
  flex-shrink: 0;
}
.frame-div1,
.frame-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}
.frame-div1 {
  flex-direction: row;
  gap: 22px;
}
.i-like-to-wake-up-and-have-a-c {
  position: relative;
  display: inline-block;
  width: 401px;
}
.frame-div4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.star-icon {
  position: relative;
  width: 18.49px;
  height: 18.49px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.button-div {
  position: relative;
  font-size: 16.18px;
  font-weight: 500;
  font-family: Roboto;
  color: #7a7a7a;
  text-align: left;
  display: inline-block;
}
.material-button {
  cursor: pointer;
  border: 1.2px solid #7a7a7a;
  padding: 0 18.488889694213867px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 12px;
  box-sizing: border-box;
  width: 156px;
  height: 41.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9.24px;
}
.material-button:hover {
  background-color: #373737;
  border: 1.2px solid #fff;
  box-sizing: border-box;
  position: relative;
}
.logo-twitter-button:hover,
.material-button:active {
  background-color: #121212;
  border: 1.2px solid #424242;
  box-sizing: border-box;
  position: relative;
}
.vector-icon {
  position: relative;
  width: 22.5px;
  height: 18px;
  flex-shrink: 0;
}
.logo-twitter-button {
  cursor: pointer;
  border: 1.2px solid #7a7a7a;
  padding: 13px 11px;
  background-color: transparent;
  position: absolute;
  top: 0.5px;
  left: 191px;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-twitter-button:hover {
  background-color: #373737;
  border: 1.2px solid #fff;
}
.logo-linkedin-button:hover,
.logo-twitter-button:active {
  background-color: #121212;
  border: 1.2px solid #424242;
  box-sizing: border-box;
  position: relative;
}
.vector-icon1 {
  position: relative;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
}
.logo-instagram-button,
.logo-linkedin-button {
  cursor: pointer;
  border: 1.2px solid #7a7a7a;
  padding: 12px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 245.5px;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-linkedin-button:hover {
  background-color: #373737;
  border: 1.2px solid #fff;
}
.logo-instagram-button:hover,
.logo-linkedin-button:active {
  background-color: #121212;
  border: 1.2px solid #424242;
  box-sizing: border-box;
  position: relative;
}
.logo-instagram-button {
  left: 300.5px;
  flex-direction: row;
}
.logo-instagram-button:hover {
  background-color: #373737;
  border: 1.2px solid #fff;
}
.logo-github-button,
.logo-github-button:hover,
.logo-instagram-button:active {
  background-color: #121212;
  border: 1.2px solid #242a7a;
  box-sizing: border-box;
  position: relative;
}
.logo-github-button {
  cursor: pointer;
  border: 1.2px solid #7a7a7a;
  padding: 12px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 355.5px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-github-button:hover {
  background-color: #373737;
  border: 1.2px solid #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-github-button:active {
  background-color: #121212;
  border: 1.2px solid #424242;
  box-sizing: border-box;
  position: relative;
}
.frame-div5 {
  position: relative;
  width: 400.5px;
  height: 45px;
  flex-shrink: 0;
}
.frame-div {
  position: absolute;
  top: calc(50% - 320px);
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.homepage-div {
  position: relative;
  background-color: #242424;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #cecece;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .material-button:hover {
    border: 1.2px solid #fff;
    box-sizing: border-box;
    position: relative;
  }
}
