body {
  margin: 0;
  line-height: normal;
}
.jggyewsm-400x400-1-icon {
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 200px;
  width: 162px;
  height: 162px;
  object-fit: cover;
}
.hi-there-this-is-sarp {
  top: 0;
}
.currently-working-at,
.hi-there-this-is-sarp,
.uiux-designer-located-in-ista {
  position: absolute;
  left: 196px;
  display: inline-block;
}
.uiux-designer-located-in-ista {
  top: 39px;
}
.currently-working-at {
  top: 124px;
}
.solidbell-icon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.group-icon,
.synchron-icon {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
.synchron-icon {
  height: 28.51%;
  width: 69.82%;
  top: 35.75%;
  right: 0;
  bottom: 35.75%;
  left: 30.18%;
}
.group-icon {
  height: 75.22%;
  width: 27.44%;
  top: 11.76%;
  right: 72.56%;
  bottom: 13.02%;
  left: 0;
}
.logo-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 117px;
  height: 33px;
  flex-shrink: 0;
}
.button-div {
  position: absolute;
  top: 113px;
  left: 473px;
  border-radius: 8px;
  background-color: #383838;
  box-shadow: 0 4px 0 rgba(5, 5, 5, 0.8);
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.frame-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 625px;
  height: 166px;
}
.solidmail-icon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.base-button {
  position: relative;
  font-size: 18px;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.button {
  left: 0;
}
.button,
.button1,
.button2,
.button3 {
  cursor: pointer;
  border: 0;
  padding: 15px 31px;
  background-color: #383838;
  position: absolute;
  top: 0;
  border-radius: 8px;
  box-shadow: 0 4px 0 rgba(5, 5, 5, 0.8);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button1 {
  left: 156px;
}
.button2 {
  left: 328px;
}
.button3 {
  left: 474px;
}
.frame-div,
.frame-div2 {
  position: absolute;
}
.frame-div2 {
  top: 263px;
  left: 7px;
  width: 611px;
  height: 52px;
}
.frame-div {
  top: 354px;
  left: 407px;
  width: 625px;
  height: 315px;
}
.page-div {
  position: relative;
  background-color: #242424;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 26.08px;
  color: #fff;
  font-family: Inter;
}
